@import "~materialize-css/dist/css/materialize.min.css";
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#chart {
  /* height: 1200px;
  width: 1200px; */
  min-height: 600px;
  /* min-width: 1000px; */
}
#ChartQuotation{
  /* min-height: 600px; */
  min-width: 2000px;
  overflow: scroll
}

main {
  /* padding-bottom: 30px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto; */
}

#TechnicalTask .container, #Intro .container {
  /* padding-bottom: 30px;
  padding-top: 30px; */
  max-width: 1170px;
  /* margin: auto; */
  /* height: 1000px; */
  margin-right: auto;
  margin-left: auto;
}
select{
  display: table;
  width:180px;
}

#select_downloadcsv select:focus {
  width:auto;
 }
