@import "~materialize-css/dist/css/materialize.min.css";

h3 {
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-top: 0px;
  font-size: 30px;
  background-color:#757575;
}

.bold-text {
  font-weight:500
}
#ViewChart {
  padding-bottom: 30px;
}

nav {
  background-color: #747474;
}

nav.nav-extended .nav-wrapper {
  min-height: 30px;
  line-height: 36px;
  height: 30px;
}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255,255,255,0.5);
}

.tabs .tab {
  line-height: 34px;
}

.tabs.tabs-transparent {
  height: 36px;
}

@media (max-width:500px) {
  .navTab {
    font-size: 14px;
  }

  #brand-logo {
    font-size: 22px;
  }

  nav.nav-extended .nav-wrapper {
    min-height: 30px;
    line-height: 36px;
    /* height: auto; */
    height: 30px;
  }
}

@media (max-width:400px) {
    #DevelopmentDescription ul.browser-default li ul {
    padding: 0; /*Убираем поля */
    margin-left: 30px; /* Отступ слева */
  }
}
#DevelopmentDescription .container, #TechnicalTask .container, #chart .container {
  padding-bottom: 30px;
}

#DownloadCSV .container  {
  padding-bottom: 0px;
}

select{
  display: table;
  width:180px;
}

#select_downloadcsv select:focus {
  width:auto;
}

#select_downloadcsv {
  margin-left: auto;
  margin-right: auto;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i, .navbar-fixed  {
  height: 64px !important;
  line-height: 64px !important;
}

.width180 {
  width: 180px
}

@media (max-width:1000px) {
  #chartData2Up , #chartData1Up {
    width: 100%;
    /* height: 500px; */
    overflow-x: auto
    /* overflow-x: scroll */
  }
  #chartData2Down , #chartData1Down {
    width: 1000px;
    /* height: 500px; */
  }
}
